<!--
+------------------------------------------+
| Brand | Navigation | Dark/Light & Button |
+------------------------------------------+
-->
<header role="banner" class="header navbar navbar-expand flex-column flex-md-row shadow px-4">
    <a class="header__brand navbar-brand fs-1 mx-4 pb-0" href="/">Brand</a>
    <nav role="navigation" class="header__navbar">
        <ul class="navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/food-menu">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
    </nav>
    <div class="header__actions flex-row ms-md-auto">
        <button type="button" class="btn btn-success">Commander</button>
    </div>
</header>
