<!--
+------------------------------------------+
| Brand | Navigation | Dark/Light & Button |
+------------------------------------------+
-->
<header role="banner" class="header navbar navbar-expand flex-column flex-md-row shadow px-4">
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="header__brand navbar-brand fs-1 mx-4 pb-0">Brand</a>
    <nav role="navigation" class="header__navbar">
        <ul class="navbar-nav flex-row">
            <li class="nav-item">
                <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link active">Accueil</a>
            </li>
            <li class="nav-item">
                <a routerLink="/food-menu" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Menu</a>
            </li>
            <li class="nav-item">
                <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Contact</a>
            </li>
        </ul>
    </nav>
    <div class="header__actions flex-row ms-md-auto">
        <a routerLink="/order-now" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn btn-success">Commander</a>
    </div>
</header>
